langchain
langchain-google-genai
google-generativeai
sentence-transformers
transformers
huggingface-hub
faiss-cpu
streamlit
unstructured
python-docx
python-dotenv
tqdm
jinja2
sqlite-utils
sqlalchemy
langchain-community

streamlit 
pandas 
sqlite3
